.ousynodos
  font-size: var(--font-size-xs)
  font-weight: 500
  font-style: italic
  background: maroon
  color: white
  border-radius: 2px
  padding: 0 4px
  align-self: start
  white-space: nowrap
