header
  max-width: 768px
  > nav
    font-family: Ysabeau SC
    font-weight: 500
    > ul
      display: flex
      flex-direction: row
      align-items: center
      gap: 16px
      margin-right: 16px

      > li:first-child
        margin-right: auto
        > a
          background: maroon
          width: 60px
          height: 60px
          display: flex
          align-items: center
          justify-content: center
          img
            height: 50px

          @media (max-width: 768px)
            border-radius: 0 0 2px 0
          @media (min-width: 768px + 1px)
            border-radius: 0 0 2px 2px

      > li
        > a
          display: flex
          text-decoration: none
          color: inherit

          &:hover
            color: maroon
