.header
  max-width: 768px
  width: 100%

  > nav
    font-size: 1.024rem
    font-family: Ysabeau SC
    > ul
      display: flex
      flex-direction: row
      align-items: center
      gap: 16px
      margin-right: 16px

      > li:hover > a
        text-decoration: none

      > li:first-child
        margin-right: auto
        > a
          background: maroon
          width: 60px
          height: 60px
          display: flex
          align-items: center
          justify-content: center
          img
            height: 50px

          @media (max-width: 768px)
            border-radius: 0 0 2px 0
          @media (min-width: 768px + 1px)
            border-radius: 0 0 2px 2px

.main
  max-width: 680px
  width: 100%
  @media (max-width: 480px)
    padding: 16px
  @media (min-width: 481px) and (max-width: 680px + 2*24px)
    padding: 24px
  @media (min-width: 680px + 2*24px + 1px)
    padding: 24px 0

.footer
  font-size: 0.819rem
  font-weight: 550
  color: white
  background: maroon
  max-width: 768px
  width: 100%
  margin-top: auto
  div
    a
      font-weight: 700
      font-style: italic
    .neanes
      display: inline-flex
      overflow: hidden
      > x-mode-second
        text-decoration: none
        margin-bottom: -100%
        font-weight: 400
        --byz-neume-font-size: 1.024rem

  @media (max-width: 480px)
    padding: 8px 16px
  @media (min-width: 481px) and (max-width: 768px)
    padding: 8px 24px
  @media (min-width: 768px + 1px)
    border-radius: 4px 4px 0 0
    padding: 8px 24px
