:root
  --font-size-xs: 0.694rem
  --font-size-sm: 0.833rem
  --font-size-md: 1rem
  --font-size-lg: 1.2rem
  --font-size-h6: 1.44rem
  --font-size-h5: 1.728rem
  --font-size-h4: 2.074rem
  --font-size-h3: 2.488rem
  --font-size-h2: 2.488rem
  --font-size-h1: 2.986rem

  --byz-neume-font-family: NeanesStathisSeries
  --byz-neume-font-size: var(--font-size-h5)

  --byz-lyric-font-family: Ysabeau
  --byz-lyric-font-size: var(--font-size-md)
  --byz-lyric-offset-h: 0.3rem
  --byz-lyric-offset-v: -0.3rem

  --byz-drop-cap-font-family: Ysabeau
  --byz-drop-cap-font-size: var(--font-size-h2)
  --byz-drop-cap-offset-v: var(--font-size-h2)
  --byz-drop-cap-color: maroon

  --byz-color-accidental: maroon
  --byz-color-agogi: maroon
  --byz-color-barline: maroon
  --byz-color-fthora: maroon
  --byz-color-gorgon: maroon
  --byz-color-heteron: maroon
  --byz-color-ison-indicator: maroon
  --byz-color-koronis: maroon
  --byz-color-martyria: maroon
  --byz-color-measure-number: maroon
  --byz-color-note-indicator: maroon

*
  box-sizing: border-box
  margin: 0
  padding: 0

ul
  list-style-type: none

html
  font-family: Ysabeau
  font-size: 18px
  overflow-y: scroll

#root
  display: flex
  flex-direction: column
  align-items: center

  @media (max-width: 480px)
    padding: 0
  @media (min-width: 481px) and (max-width: 680px + 2*24px)
    padding: 0
  @media (min-width: 680px + 2*24px + 1px)
    padding: 0

  > header
    width: 100%
  > main
    max-width: 680px
    width: 100%
    @media (max-width: 480px)
      padding: 16px
    @media (min-width: 481px) and (max-width: 680px + 2*24px)
      padding: 24px
    @media (min-width: 680px + 2*24px + 1px)
      padding: 24px 0

h1, h2, h3, h4, h5, h6
  font-family: Ysabeau SC
  text-align: center

h1
  margin-bottom: 24px

h2
  margin-bottom: 16px

h3
  margin-bottom: 12px

h4, h5, h6
  margin-bottom: 6px

x-ly
  font-weight: 650
  color: black

.byz--line-break
  margin-left: auto

.byz--text-box
  font-size: var(--font-size-md)
  font-weight: 550
  font-style: italic
  text-align: right
  color: black

.byz--text-box.my-byz--description
  text-align: left

.byz--text-box.my-byz--note
  font-size: var(--font-size-sm)

.byz--text-box.my-byz--title
  font-style: normal
  text-align: center

.byz--m-align-right
  margin-left: auto

.byz--mode-key
  text-align: center
  color: maroon

.byz--neume-paragraph
  display: flex
  flex-wrap: wrap
  margin-bottom: var(--font-size-md)
