.list
  display: flex
  flex-direction: column
  gap: 2px

  > li
    display: flex
    align-items: baseline
    border-radius: 2px
    > a
      text-decoration: none
      color: inherit
      cursor: pointer
      &:hover
        text-decoration: underline
